<% if !current_user %>
  <li><%= link_to "Sign in with Facebook", '/auth/facebook' %>
</li>
<% else %>
  <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
<% end %>

<p> Hi <%= current_user ? "#{current_user.name}" : "" %></p>

<%if current_user %>
  <p> You live in <%= current_user.location%>, I see. And you're from <%= current_user.hometown%>.</p>
<% end %>

<%= "#{@norwegian_born_people_in_user_state[0]["B05006_010E"]} Norwegian-born people live near you." %>



<p><%= "There are #{@norwegian_born_people_in_ma[0]["B05006_010E"]} Norwegian-born people living in Massachussetts." %></p>

<p><%= "#{@norwegian_born_people_in_boston_area[0]["B05006_010E"]} of them live in the Boston area." %></p>
